@import url(normalize.css);
@import url(reset.css);



@keyframes parpadeo {
    0% { opacity: 1;
        transform: scale(1) translateY(-100px); }
    50% { opacity: 0; 
        transform: scale(0.5) translateY(-50px);
        }
    100% { opacity: 1; 
        transform: scale(1) translateY(-100px);}
}

body {
    height: 100dvh;
    background-image: url(../img/fondoespacio.avif);
    background-size: cover;
}

main {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__motorEncendido{
    width: 120px;
    position: relative;
    transform: translateY(-60px);
    display: none;
    animation: parpadeo 0.1s infinite;;
}

.main__nave {
    width: 400px;
    position: relative;
    z-index: 1;
    /* transition: all 0.3s ease; */
}

/* Efecto cuando la nave está encendida */
.encender {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.section__mandos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer__teclaQ {
}

.footer__teclas {
}

.footer__teclaE {
}